---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar";
import ProyectCard from "../components/ProyectCard.astro";
import Layout from "../layouts/Layout.astro";
import {
  Info,
  GraduationCap,
  FlaskConical,
  ChevronRight,
  Sparkles,
  Menu,
} from "lucide-astro";

interface Proyect {
  image: string;
  title: string;
  description: string;
  link?: string;
  pills: { text: string; color: string }[];
}

const proyectos: Proyect[] = [
  {
    image: "/proyectos-images/cloth.png",
    title: "Farfania Cloth",
    description:
      "El Farfania Cloth es una herramienta que permite a los diseñadores de Farfania crear ropas e incluirlas en el juego.",
    pills: [
      { text: "React", color: "blue" },
      { text: "Tailwind", color: "red" },
      { text: "Electron.js", color: "green" },
      { text: "Java", color: "cyan" },
    ],
  },
  {
    image: "/proyectos-images/farfania-landing.png",
    title: "Farfania Landing",
    description:
      "La página oficial de Farfania 2, el país de Farfadox en Minecraft.",
    link: "https://farfania.com/",
    pills: [
      { text: "Astro.js", color: "orange" },
      { text: "Tailwind", color: "red" },
      { text: "React", color: "blue" },
      { text: "Nest.js", color: "yellow" },
    ],
  },
  {
    image: "/proyectos-images/farfadox-launcher.png",
    title: "Farfadox Launcher",
    description:
      "El launcher oficial de Farfadox, que permite acceder a los servidores de Farfadox.",
    link: "https://farfania.com/launcher",
    pills: [
      { text: "React", color: "blue" },
      { text: "Tailwind", color: "red" },
      { text: "Electron.js", color: "orange" },
      { text: "Nest.js", color: "yellow" },
    ],
  },
  {
    image: "/proyectos-images/economy-suite.png",
    title: "Economy Suite",
    description:
      "Es la suite de economia de Farfania que permite a los usuarios gestionar sus cuentas de banco, hacer transacciones, etc.",
    pills: [
      { text: "Java", color: "cyan" },
      {
        text: "SQL",
        color: "blue",
      },
    ],
  },
  {
    image: "/proyectos-images/eyemod-farfania.png",
    title: "App Contactos",
    description:
      "La aplicación de contactos de Farfania, que permite a los usuarios guardar sus contactos.",
    pills: [
      { text: "Java", color: "cyan" },
      {
        text: "SQL",
        color: "blue",
      },
    ],
  },
  {
    image: "/proyectos-images/wetalk.png",
    title: "WeTalk",
    description:
      "La applicación de mensajería instantanea de Farfania, que permite a los usuarios comunicarse entre ellos.",
    pills: [
      { text: "Java", color: "cyan" },
      {
        text: "SQL",
        color: "blue",
      },
    ],
  },
];
---

<Layout title="VeguiDev - Desarrollador de Software">
  <main class="text-white">
    <NavBar client:load />
    <section>
      <h2 class="text-4xl font-bold text-center my-12">Proyectos</h2>
      <div class="relative my-12 mx-4">
        <!-- Divider -->
        <hr class="w-full border-neutral-700" />
        <div class="absolute w-full h-96 top-0 bg-gradient"></div>
      </div>

      <!-- Articles -->

      <section class="grid md:grid-cols-3 gap-5 w-[95%] mx-auto mb-12">
        {
          proyectos.map((proyecto, iv) => {
            return (
              <>
                <ProyectCard
                  image={proyecto.image}
                  title={proyecto.title}
                  link={proyecto.link}
                  pills={proyecto.pills}
                >
                  {proyecto.description}
                </ProyectCard>
              </>
            );
          })
        }
      </section>
    </section>
    <section class="mb-12">
      <h2 class="text-4xl font-bold text-center my-12">Puede interesarte</h2>
      <ul class="flex flex-col items-center text-2xl gap-5">
        <li>
          <a
            class="text-blue-brand hover:underline"
            href="/sobre-mi#habilidades">Habilidades</a
          >
        </li>
        <li>
          <a class="text-blue-brand hover:underline" href="/sobre-mi#formacion"
            >Formación</a
          >
        </li>
        <li>
          <a class="text-blue-brand hover:underline" href="/sobre-mi"
            >Sobre Mi</a
          >
        </li>
      </ul>
    </section>
    <Footer />
  </main>

  <style>
    main {
      min-height: 100vh;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
  </style>
</Layout>
